/* reset rules */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header  {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.logo   {
    display: flex;
    align-items: center;
}

.logo img  {
    height: 10vh;
}

.buttons    {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.buttons button {
    padding: 10px 20px;
}

main    {
    height: 80vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 90%;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
    background-color: blue;
}

footer  {
    height: 10vh;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}